[Unit]
Description=NF IPC Daemon
After=network.target
PartOf=nf-nms.target

[Service]
Type=simple
ExecStart=/opt/nf-nms/bin/nf-ipcd

Restart=always
RestartSec=2

LimitNOFILE=1048576

StandardOutput=journal
StandardError=journal
SyslogIdentifier=nf-ipcd

KillSignal=SIGTERM
TimeoutStopSec=10

RuntimeDirectory=nf-nms
RuntimeDirectoryMode=0755

[Install]
WantedBy=nf-nms.target
