[Unit]
Description=NF SNMP Daemon

After=nf-ipcd.service
Requires=nf-ipcd.service
PartOf=nf-nms.target

[Service]
Type=simple
ExecStart=/opt/nf-nms/bin/nf-snmpd

Restart=always
RestartSec=3

LimitNOFILE=65536

StandardOutput=journal
StandardError=journal
SyslogIdentifier=nf-snmpd

[Install]
WantedBy=nf-nms.target
